body {
	font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size:15px;
    
    background-image:url(../bg.png);
}

form {
 	background:#111; 
  width:507px;
  margin:10px -4px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  /*box-shadow: 0 15px 5px 15px rgba(0,0,0,0.2);*/
   padding-top:23px;
}

/*input[type=text],
input[type=number],
input[type=time],
input[type=date]{
  font-family:  'Nova Mono', cursive;
 	width:440px;
  padding:10px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:-10px;
  margin-left:-150px;
  margin-right:260px;
   margin-top:5px;
}*/

p,h1,h2,h4,h5,h6{margin:0px;padding:0px;width:auto;font-weight:normal;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:500;line-height:25px;}

h3{margin:0px;padding:0px;width:auto;font-weight:normal;font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:700;}

span{color:#FFFFFF;font-family:'Nova Mono',cursive;font-size:23px;width:auto;height:auto;font-weight: bold;
margin-left: 20px;}

#wapper{width:100%;height:auto;float:left;}

.main{width:auto;height:auto;margin:0 auto;}

.main h1{color:#666666;font-family:Arial, Helvetica, sans-serif;font-size:12px;width:auto;font-weight:normal;}

.text{width:100px;height:40px;}

.header{width:100%;height:10px;background-color:#116bd8;}





