body {
	font-family: 'Tauri', sans-serif;
  color:black;
  font-size:13px;
    
    background-image: url(http://subtlepatterns.com/patterns/tweed.png);
}

.a:hover{color:#FF3300;text-decoration:none;}

.content_b h2{color:#de0a0a;margin:0px;width:auto;margin:0 auto;height:44px;margin-left:90px;}

.content_a h1{width:auto;height:auto;margin-left:20px;}

.content_a p{width:auto;height:auto;margin-left:20px;margin-top:-10px;
}

.content_a p a{color:#0066CC;text-decoration:none;}

.content_a p a:hover{color:#FF0000;text-decoration:none;}

form {
 	background:#111111; 
  width:450px;
  margin:14px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  /*box-shadow: 0 15px 5px 15px rgba(0,0,0,0.2);*/
  color:#fff;padding-bottom:13px;padding-top:10px;
  
}
.ng-table {
  border: 1px solid #000;
}

.content{
  padding-left: 17px;
}

#wapper{width:100%;height:auto;float:left;}

.content_b{width:940px;height:44px;background-color:#CCCCCC;margin:0 auto;position: relative;}

.content_a{
  padding-left: 17px;width:940px;height:auto;margin:auto;background-color:#CC6633;padding-bottom:5px;padding-top:5px;border-radius:3px;margin-top:-5px;-webkit-box-shadow: 0px 2px 6px 8px  rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 6px 8px  rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 6px 8px  rgba(50, 50, 50, 0.75);
}

/*input[type=text],
input[type=number],
input[type=time],
input[type=date]{
  font-family:  'Nova Mono', cursive;
 	width:440px;
  padding:10px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:-10px;
  margin-left:-150px;
  margin-right:260px;
   margin-top:5px;
}*/

.header{width:100%;height:5px;float:left;background-color:#000000;}

.header_a{width:100%;height:5px;float:left;background-color:#ffffff;}

.header_txt{width:100%;height:50px;float:left;background-color:#CCCCCC;}



