body {
	font-family:  'Nova Mono', cursive;
  color:black;
  font-size:15px;
    
    background-image: url(http://subtlepatterns.com/patterns/tweed.png);
}

form {
 	background:#111; 
  width:450px;
  margin:100px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 15px 5px 15px rgba(0,0,0,0.2);
}
.ng-table {
    border: 1px solid #000;
}

/*input[type=text],
input[type=number],
input[type=time],
input[type=date]{
  font-family:  'Nova Mono', cursive;
 	width:440px;
  padding:10px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:-10px;
  margin-left:-150px;
  margin-right:260px;
   margin-top:5px;
}*/





