<form name="editForm" class="form-horizontal" ng-submit="saveContact()">
    <div class="control-group" ng-class="{error: editForm.name.$invalid}">
        <label class="control-label">Name </label>
        <div class="controls">
            <input type="text" name="text" ng-model="contact.name" required>
            <p class="help-inline" ng-show="editForm.name.$error.required"></p>
        </div>
    </div>
    
   </div>
   
    <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
            <input type="text" name="description" ng-model="contact.description">
        </div>
    </div>
   
   
   
        <div class="control-group">
        <label class="control-label">Pickuplocation</label>
        <div class="controls">
            <input type="text" name="adresse" ng-model="contact.pickuplocation">
        </div>
    </div>
    
    
 <div class="control-group">
        <label class="control-label">Dropofflocation</label>
        <div class="controls">
            <input type="text" name="adresse" ng-model="contact.dropofflocation">
        </div>
    </div>
    
 <div class="control-group">
        <label class="control-label">Date</label>
        <div class="controls">
            <input type="date" name="Date" ng-model="contact.Date">
        </div>
        
        
    <div class="form-actions">
        <a class="btn" ng-href="#/list">Back</a>
        <input type="submit" class="btn btn-success" ng-click="saveContact()" ng-disabled="editForm.$invalid" value="Save Order"/>
    </div>
</form>
