<form ng-submit="forgotPasswordSubmit()">

<div class="content">
  <h1>Having trouble signing in?</h1>
  <div class="inset">
  <p>
  To reset your password, enter the email address you use to sign in to TruckDat. This can be your Gmail address or another email address associated with your account.

    <label for="email">EMAIL ADDRESS</label>
    <input type="text" name="email" id="forgot_email" ng-model="forgot.email">
  </p>

  <p>
    <button type="submit" class="btn btn-success" ng-click="">Continue</button>
  </p>
</div>
</form>
