<form name="editForm" class="form-horizontal" ng-submit="saveContact()">
  <div class="control-group" ng-class="{error: editForm.name.$invalid}">
    <label class="control-label"></label>
    <div class="controls">
      <input type="text" name="text" ng-model="contact.name" placeholder="Name" required>
      <p class="help-inline" ng-show="editForm.name.$error.required"></p>
    </div>
  </div>

  </div>

  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <input type="text" name="description" placeholder="Description" ng-model="contact.description">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <input type="text" name="adresse" placeholder="Pickup  Location" ng-model="contact.pickuplocation">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <input type="text" name="adresse" placeholder="Dropoff  Location" ng-model="contact.dropofflocation">
    </div>
  </div>

 <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <input type="time" name="time" placeholder="Time" ng-model="contact.time">
    </div>
  </div>

 <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <input type="date" name="date" placeholder="Date" ng-model="contact.date">
    </div>
  </div>

  <div class="form-actions">
    <a class="btn" ng-href="#/list">Back</a>
    <input type="submit" class="btn btn-success" ng-click="saveContact()" ng-disabled="editForm.$invalid" value="Save Order" />
  </div>
</form>


