<form ng-submit="authenticate()">

<div class="content">
  <h1>Log in</h1>
  <div class="inset">
  <p>
    <label for="email">EMAIL ADDRESS</label>
    <input type="text" name="email" id="email" ng-model="login.email">
  </p>
  <p>
    <label for="password">PASSWORD</label>
    <input type="password" name="password" id="password" ng-model="login.password">
  </p>
  <p>
    <input type="checkbox" name="remember" id="remember" ng-model="login.rememberMe">
    <label for="remember">Remember me</label>
  </p>
  </div>
  <p class="p-container">
    <a ng-href="#/forgot/">Forgot password ?</a>
    <button type="submit" class="btn btn-success" ng-click="">Login</button>

  </p>
</div>

</form>